body {
    margin: 0;
    font-family: Arial;
    background: #121212;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: black;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

section {
    padding: 50px;
}

.box {
    background: #1db954;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.card {
    background: #282828;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}